[submodule "components/aerodynamic-control-module"]
	path = components/aerodynamic-control-module
	url = https://github.com/gopher-motorsports/aerodynamic-control-module
[submodule "components/power-distribution-module"]
	path = components/power-distribution-module
	url = https://github.com/gopher-motorsports/power-distribution-module
[submodule "components/data-logging-module"]
	path = components/data-logging-module
	url = https://github.com/gopher-motorsports/data-logging-module
[submodule "components/data-acquisition-module"]
	path = components/data-acquisition-module
	url = https://github.com/gopher-motorsports/data-acquisition-module
[submodule "gophercan-lib"]
	path = gophercan-lib
	url = https://github.com/gopher-motorsports/gophercan-lib
[submodule "C-Utils"]
	path = C-Utils
	url = git@github.com:gopher-motorsports/C-Utils.git
